#dashboard-container-it1 {
    background-image: url(../../../img/seasonal/remembranceday/full_background.jpg) !important;
    background-size: cover;
    background-position: center;
}

#dashboard-container-it2 {
    background-image: url(../../../img/seasonal/remembranceday/full_background.jpg) !important;
    background-size: cover;
    background-position: center;
}

#dashboard-container-studsrv {
    background-image: url(../../../img/seasonal/remembranceday/full_background.jpg) !important;
    background-size: cover;
    background-position: center;
}
