.eap_sensor { z-index: 999; position: absolute; border: 1px solid #888888; background-color: black; color: #888888; padding: 2px; border-radius: 7px; min-width: 175px; }
.eap_sensor_name { font-size: 115%; font-weight: bold; text-align: center; padding: 2px; }
.eap_sensor_sensors { display: grid; justify-content: space-between; grid-template-columns: 50% 50%; }
.eap_sensor_sensors div { width: 100px; padding: 1px; text-align: left; }
.eap_sensor_data_field_icon { display: inline; }
.eap_sensor_data_field_icon img { width: 16px; max-height: 16px; filter: invert(100%); opacity: 50%; }
.eap_sensor_data_field_value { display: inline; }
.eap_data_value { display: inline; }
.eap_map_container { position: relative; }
.eap_sensor_container { position: relative; }
.eap_map { opacity: 70%; z-index: -999;;}
.eap_map_title { font-size: 500%; font-weight: bold; position: absolute; top: 20px; left: 20px; color: #777777; font-family: 'Bebas Neue'; }

.eap_sensor_good { border-color: green; } .eap_sensor_good .eap_pin { background-color: green; }
.eap_sensor_warning { border-color: orange; } .eap_sensor_alarm .eap_pin { background-color: red; }
.eap_sensor_alarm { border-color: red; } .eap_sensor_alarm .eap_pin { background-color: red; }

.eap_temp_too_high { color: orangered }
.eap_temp_too_low { color: cyan; }

.eap_stale_sensor { border-color:rgb(224, 108, 0); background-color: rgba(224, 108, 0, 0.2); color: rgb(224, 108, 0); }

.eap_sensor_temp, .eap_sensor_humid { font-size: 120%; }            

.eap_pin { position: absolute;  border-radius: 50%; width: 10px; height: 10px; background-color: #888888 }
.eap_pin_bottom_left { bottom: -5px; left: -5px; }
.eap_pin_bottom_right { bottom: -5px; right: -5px; }
.eap_pin_top_left { top: -5px; left: -5px; }
.eap_pin_top_right { top: -5px; right: -5px; }

.weather_title { text-align: center; font-size: 100%; font-weight: bold; }

#weather_conditions { position: absolute; right: 10px; top: 10px;  padding: 10px; opacity: 0.7; }
#weather-detail-icon { padding: 10px; size: 125%; }